.work-container {
    display: grid;
    padding: 20px 6%;
    background: #f2f8fd;
    position: relative;
}

.work-text span {
    font-size: 20px;
    color: #337af7;
}

.work-text h1 {
    font-size: 30px;
    color: #000;
    width: 500px;
    margin-top: 2px;
}

.work-features {
    display: flex;
    justify-content: space-between;
}

.feature span {
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 60px;
    width: 30px;
    height: 30px;
    color: #e2e2e2;
    background: #337af7;
    margin-top: 2px;
}

.feature h4 {
    font-size: 17px;
    margin-top: 0%;
}

.feature p {
    font-size: 18px;
    width: 250px;
    color: #777;
    margin-top: 0px;
}

.simple-fast-secure {
    position: absolute;
    right: 100px;
    top: 20px;
    font-style: italic;
    transform: rotate(-15deg);
    text-align: center;
    color: #337af7;
}

.simple-fast-secure p {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    margin: 0;
}

.curve-arrow {
    display: block;
    font-size: 25px;
    margin-top: 0;
    transform: rotate(-20deg);
}

@media (max-width:768px) {
    .work-container {
        width: 100%;
        padding: 20px 6%;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
    }

    .work-text span {
        font-size: 15px;
    }

    .work-text h1 {
        font-size: 22px;
        width: 100%;
        margin-top: 2px;
    }

    .work-features {
        display: flex;
        flex-direction: column;
    }


    .feature span {
        font-size: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 60px;
        width: 30px;
        height: 30px;
        color: #e2e2e2;
        background: #337af7;
        margin-top: 2px;
    }

    .feature h4 {
        font-size: 13px;
        margin-top: 0%;
        width: 150px;
    }

    .feature {
        width: 100%;
    }

    .feature p {
        font-size: 15px;
        width: 100%;
        max-width: 100%;
        line-height: 1.5;
        white-space: normal;
        overflow-wrap: break-word;
        color: #777;
        margin-top: 0px;
    }

    .simple-fast-secure {
    display: none;
}

}